extends ../layouts/layout.pug
block content
  .row
    .col-4.m-auto
      .text-center
        h3.mb-3 Sign up
        if errors
          if errors.wrongLoginCount 
            p= errors.wrongLoginCount
          form(action="/auth/login", method="POST")
            .form-group
              input.form-control(type='email', placeholder='Enter email', name="email",value=currentValues ? currentValues.email:"", class=errors.email ? "is-invalid":"")
              if errors.email
                .invalid-feedback= errors.email
            .form-group
              input.form-control(type='password', placeholder='Password', name="password", class=errors.password ? "is-invalid":"")
              if errors.password
                .invalid-feedback= errors.password
            a(href="/auth/login/reset") Quên mật khẩu
            .text-center.mt-2
              button.btn.btn-primary.px-10(type='submit') Submit
        else
          form(action="/auth/login", method="POST")
            .form-group
              input.form-control(type='email', placeholder='Enter email', name="email")
            .form-group
              input.form-control(type='password', placeholder='Password', name="password")
            .text-center
              button.btn.btn-primary.px-10(type='submit') Submit