extends ../layouts/layout.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-5
    h3 All Books
    form.form-inline(action="/books/search", method="GET")
      input.form-control(type='text', placeholder='Search...', name="title")
      button.btn.btn-primary Search
  .row
    each book in books
      .col-3
        .card.mb-5
          img.card-img-top(src= book.bookCover, alt='Card image cap', style="height: 300px; object-fit: contain")
          .card-body
            h5.card-title= book.title
            p.card-text= book.decription
            p.card-text.small  Người bán: #{book.nameSeller}
            .d-flex.justify-content-around.mt-3
              a.btn.btn-primary(href="/cart/" + book.id) Thêm vào giỏ hàng
  if page
    if !isEmtyBooks
      if page === 1
        nav(aria-label='Page navigation example')
          ul.pagination.justify-content-center
            li.page-item.disabled
              a.page-link(href='#', tabindex='-1', aria-disabled='true', name="page") Previous
            li.page-item
              a.page-link(href='?page='+ page)= page
            li.page-item
              a.page-link(href='?page='+ (page+1))= page+1
            li.page-item
              a.page-link(href='?page='+ (page+2))= page+2      
            li.page-item
              a.page-link(href='?page='+ (page+1)) Next
      else
        nav(aria-label='Page navigation example')
          ul.pagination.justify-content-center
            li.page-item
              a.page-link(href='?page='+ (page-1)) Previous
            li.page-item
              a.page-link(href='?page='+ (page-1))= page-1
            li.page-item
              a.page-link(href='?page='+ page)= page
            li.page-item
              a.page-link(href='?page='+ (page+1))= page+1           
            li.page-item
            a.page-link(href='?page='+ (page+1)) Next
    else
      p Hết sản phẩm rùi ahihi
